$label-width: 110px;

@mixin overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

html {
  background-color: #f9f9fb;
  font-family: monospace;
}
h1 {
  text-align: center;
}

.node {
  background: white;
  float: left;
  width: calc((100% - 40px) / 4);
  overflow: auto;
  box-shadow: 1px 1px 8px #d2d2d2;
  border-radius: 8px;
  margin: 4px;
  .node-contents {
    padding: 16px;
    .port {
      text-align: center;
      font-weight: bold;
      margin: 8px;
    }

    .blockchain-header, .transactions-header, .balances-header {
      margin: 8px;
      margin-top: 16px;
      text-transform: uppercase;
    }

    .separator {
      font-size: 40px;
      text-align: center;
      margin: -8px 0px -20px 0px;
    }

    .blocks .block {
      border: 1px solid #a4e4ff;
      background: #e7f8ff;
      color: #00acf5;
    }

    .transactions .transaction {
      color: #5e00f5;
      background: #efe6ff;
      border: 1px solid #bd98ff;
    }

    .balances {
      background: #f6ffed;
      border: 1px solid #b7eb8f;
      color: #52c41a;
    }

    .blocks .block, .transactions .transaction, .balances {
      @include overflow;
      border-radius: 8px;
      padding: 8px;
      margin-bottom: 8px;
      .row {
        @include clearfix;
        .label {
          @include overflow;
          float: left;
          width: $label-width;
          font-weight: bold;
        }
        .value {
          float: left;
          width: calc(100% - #{$label-width});
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
